body {
  text-align: left;
  font-size: 12px;
/*  background-image: url(./partybg4.png); */ 
/*  background-repeat: repeat; */
/*  background-size: 350px; */
}


details {
    padding-left:25%;
    padding-right:25%;
    padding-top:0;
    padding-bottom:0%;
}

head {
  padding-bottom: 0px!important;
}

#superduper {
  display: block;
  padding-top: 1px!important;
  margin-top: 2px;
}

#badge {
  padding-top: 4px;
  display: flex!important;
}

#navbar {

    font-size: 24px;
    text-align: left;

}

#smallerimage {

    padding-left: 25%;
    padding-right: 25%;

    width:25%;
    height:auto;

}



#centerlink {

  padding-left: 25%;
  padding-right: 25%;

    
}


#seperator {

    opacity:50%;
    text-align: center;
}

#title {

    padding-left: 25%;
    padding-right:25%;
}

html {
  text-align: left;
  background-color: #EDEDED;
    color: #080808;
  }

  h1 {
    padding-top: 0px!important;
    text-align: left;
  }
  h3 {
    text-align: left;
  }

  h4 {

      padding-left:25%;
      padding-right:25%;
  }

  pre {
    text-align: left !important;
  }


  .hinty {
    size: 10%;
    color: #6f3ea7;
  }



  .header {
    border: #080808;
    border-width: 1px;
    border-style: solid;
    width: 1080px;
    height: 264px;
  }

  img {
    display: block;
    align-self: left;
    margin: auto;
    padding-bottom: 0%!important;
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;         
    image-rendering: -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;              
    image-rendering: optimize-contrast;        
    -ms-interpolation-mode: nearest-neighbor; 
  }

  #footer {
    padding-bottom: 3rem;
  }

body {
  padding: 100px;
  margin: 0px;
  }

#header_img {
  padding-left: 1px!important;
  padding-right: 1px!important; 

}

#cache {
    filter: brightness(4);
    width: 1px;
  height: 1px;
}



.para2 {
  padding-left: 25%;
  padding-right: 25%;
}

#imgcontain {
  padding-top: 25px;
  width: 350px;
  height: auto;
  margin: auto;

  
}

