@font-face {
    font-family: "ughfont";
    src: url("./ugh.ttf") format('truetype');
}



body {
  text-align: center;
  font-size: 12px;
/*  background-image: url(./partybg4.png); */ 
/*  background-repeat: repeat; */
/*  background-size: 350px; */
}


head {
  padding-bottom: 0px!important;
}

#superduper {
  display: block;
  padding-top: 1px!important;
  margin-top: 2px;
}

#badge {
  padding-top: 4px;
  display: flex!important;
}


html {
  text-align: center;
  background-color: #EDEDED;
    color: #080808;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    padding-top: 0px!important;
    text-align: center;
    font-family: "ughfont" !important;
  }
  h3 {
    text-align: center;
    font-family: "Georgia" !important;
  }

  a:link {
    color: #6f3ea7;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:visited {
    color: #6b6375;
    background-color: transparent;
    text-decoration: underline, italic;
  }
  

  pre {
    text-align: left !important;
  }


  .hinty {
    size: 10%;
    color: #6f3ea7;
  }


  .para1 {
    padding-left: 40%;
    padding-right: 40%;
  }

  .header {
    border: #080808;
    border-width: 1px;
    border-style: solid;
    width: 1080px;
    height: 264px;
  }

  img {
    display: block;
    align-self: center;
    margin: auto;
    padding-bottom: 0%!important;
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;         
    image-rendering: -o-crisp-edges;        
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: pixelated;              
    image-rendering: optimize-contrast;        
    -ms-interpolation-mode: nearest-neighbor; 
  }

  #awesomesauce {
    filter: invert(100%);
    padding-bottom: 1px!important;
    border: hidden!important;
    display: block;
    margin: auto;

  }

  #main-content {
/*    -webkit-box-shadow: 0px 0px 22px 2px rgba(135, 129, 159,1);
    -moz-box-shadow: 0px 0px 22px 2px rgba(195,194,199,1);
    box-shadow: 0px 0px 22px 2px rgba(135, 129, 159,1); */
    display: block;
    margin: auto;
    margin-top: 0%!important;
    width: 1290px;
    text-align: match-parent;
    padding-top: 0px!important;
    padding-bottom: 0rem;
    background: #EDEDED;
/*    border-image: url(./bordertilemap.png) 33.333% repeat;
    border-image-width: 105px;
    border-image-repeat: round;
    border-style: solid;
    border-image-outset: 0px;
    border-bottom: hidden;
    border-top: hidden; */
    background: none!important;
  }
   

  #center-column {
    width: 1080px;
    background-color: #EDEDED!important;
    display: block;
    margin: auto;
    -webkit-box-shadow:inset 0px 0px 0px 1px #000;
    -moz-box-shadow:inset 0px 0px 0px 1px #000;
    box-shadow:inset 0px 0px 0px 1px #000;
  }

  #footer {
    padding-bottom: 3rem;
  }

body {
  display: block;
  padding: 0px;
  margin: 0px;
  }

#header_img {
  padding-left: 1px!important;
  padding-right: 1px!important; 

}

#cache {
  filter: brightness(4);
  width: 1px;
  height: 1px;
}


#wire {
  opacity: 85%;
}


.para2 {
  padding-left: 25%;
  padding-right: 25%;
}

#imgcontain {
  padding-top: 25px;
  width: 350px;
  height: auto;
  margin: auto;

  
}


.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}


.badge {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.tumblr_posts {
  padding-left: 0px!important;
}

.tumblr_body {
  margin-right: 75px;
  margin-left: 75px;
  border: #fff 1px solid;
}

.tumblr_post {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 700px;
  max-height: 400px;
  align-self: center;
  margin-top: 15px;
}

.tmblr-iframe--loaded {
  visibility: hidden!important;
  
}

.tumblr_blog {
  font-weight: bold;
}

.tumblr_post.tumblr_photo_post {
  padding: auto;
  padding-top: 3px;
  margin:auto;
  margin-top: 15px;
  border: #fff 1px solid;
  display: block;
  width: fit-content;
}

.tumblr_body {
  padding-top: 25px;
  display: block;
  margin-top: 25px;
}

.tumblr_post.tumblr_test_post {
  padding: auto;
  padding-top: 3px;
  margin:auto;
  margin-top: 15px;
  border: #fff 1px solid;
  display: block;
  width: fit-content;
}



.blockquote {
  display: flex;
  align-self: center;
  text-align: center;
  margin-left:75px!important;
  margin-right: 75px!important;
  padding-left: auto;
  width: 400px!important;
  padding-bottom: 75px;
}

.tumblr_photo {
  display: block;
  align-self: center;
  text-align: center;
  margin-left:75px!important;
  margin-right: 75px!important;
  padding-left: auto;
  width: 400px!important;
}

.tumblr_caption {
  display: block;
  align-self: center;
  text-align: center;
  margin-left:75px!important;
  margin-right: 75px!important;
  padding-left: auto;
  width: 400px!important;
}

.post_media_photo {
  display: block;
  text-align: center;
  align-self: center;
  margin: auto;
  width: 400px!important;
}

.image {
  width: 400px;

}

.post_media_photo_anchor {
  display: block;
  align-self: center;
  
}
